
#live2d {
  position: fixed;
  right: 5%;
  bottom: 5%;
}

  #live2d:hover {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

@media print, screen and (max-width: 940px) {
  #live2d {
    display: none;
  }
}
