
body {
    padding: 40px 30px 20px;
    font-family: "Segoe UI", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    margin: 15px 0 15px;
}

p, ul, ol, table, pre, dl {
    margin: 0 0 10px;
}

h1, h2, h3 {
    line-height: 1.1;
}

h1 {
    font-size: 32px;
    font-weight: 600;
}

h2 {
    font-size: 24px;
    font-weight: 600;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

h4 {
    font-size: 16px;
    font-weight: 600;
}

h5 {
    font-size: 14px;
    font-weight: 600;
}

h6 {
    font-size: 12px;
    font-weight: 600;
}

strong {
    color: #222;
    font-weight: 700;
}

small {
    font-size: 11px;
}

hr {
    border: 0;
    background: #e5e5e5;
    height: 1px;
    margin: 0 0 15px;
}

a {
    color: #39c;
    text-decoration: none;
}

    a:hover {
        color: #069;
    }

blockquote {
    border-left: 0.25em solid #ddd;
    margin: 0;
    padding: 0 0 0 20px;
}

img {
    max-width: 100%;
}

.wrapper {
    width: 860px;
    margin: 0 auto;
}

header {
    width: 230px;
    float: left;
    position: fixed;
}

    header p {
        margin: 5px 0;
    }

    header blockquote p {
        margin: 20px 0;
    }

footer {
    font-size: 11px;
    width: 230px;
    float: left;
    position: fixed;
    bottom: 5px;
}

    footer p {
        margin: 7px 0;
    }

section {
    width: 540px;
    float: right;
}

@media print, screen and (max-width: 720px) {
    div.wrapper {
        width: auto;
        margin: 0;
    }

    header, section, footer {
        width: 100%;
        float: none;
        position: static;
    }

    footer {
        border-top: 1px solid #e5e5e5;
        border-width: 1px 0;
    }

    section {
        padding: 10px 0;
    }
}

@media print, screen and (max-width: 480px) {
    body {
        padding: 10px;
    }
}

/* Print Settings */

@media print {
    body {
        padding: 0;
        font-size: 11pt;
        color: #444;
    }

    .markdown-body {
        font-size: 11pt;
        color: #444;
    }

    .headerSec {
        display: none;
    }

    footer {
        display: none;
    }
}

/* Home Page Settings */

.homeSec {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .homeSec a {
        font-size: 72px;
    }

        .homeSec a:hover {
            text-shadow: 0 0 15px orange;
            text-decoration: none;
        }
        
/* Articles Page Settings */

.articlesSec ul {
    list-style: none;
}

.articlesSec li {
    margin: 0 0 10px;
}

    .articlesSec li:before {
        margin-left: 2px;
        margin-right: 8px;
        content: "📎";
    }
